body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: normal;
  background-color: #849d8f;
}

.container {
  width: 1146px;
  padding: 0 0px;
  margin: 0 auto;
  outline: 1px solid yellow;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*Хедер*/
.main-header {
  position: relative;
  margin-top: 10px;
  min-height: 102px;  
}
.main-logo {
  float: left;
  margin-right: 16px;
  margin-left: -5px;
  outline: 1px solid yellow;
}
/*Навигация*/
.main-navigation {
  float: left;
  width: 410px;
  outline: 1px solid yellow;
}
.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  margin-right: 29px;
}
.main-navigation a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 13px; 
}

.main-navigation a.active {
  background-color: #d07058;
}

.main-navigation .sub-menu {
  display: none;
}

/*Юзер блок*/
.user-block {
  float: right;
  width: 560px;
  display: inline-block;
  color: #ffffff;
  text-align: right;
  margin-top: 13px; /*исправить, убегает .contacts*/
  outline: 1px solid yellow;
}

.user-block .btn {
  
}

.user-block .search-dropdown, 
.user-block .sign-dropdown, 
.user-block .cart-dropdown {
  display: none;
}

.user-block .search {
  
}

.user-block .signing {
  
}

.user-block .basket {
  
}

/*Блок контакты*/
.contacts {
  position: absolute;
  color: #ffffff;
  width: 170px;
  top: 72px;
  right: 129px;
  outline: 2px solid yellow;
  text-align: right;
}

.contacts .work-time {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
}
.contacts .phone-number {
  display: inline-block;
  font-size: 22px;
  line-height: 24px;
}

/*Хлебные крошки*/
.breadcrumbs {
  width: 200px;
}
.breadcrumbs ul {
  margin: 0;
  margin-top: -19px;
  padding: 0;
  list-style: none;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
}
.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

/*Общий класс для кнопок*/
.btn {
  color: #ffffff;
  background-color: #a9b9af;
  border-radius: 30px;
  display: inline-block;
  text-decoration: none;
  padding-left: 13px;
  padding-right: 9px;
  padding-top: 7px;
  padding-bottom: 7px;
}

/*Заголовки*/
h1 {
  font-family: "Roboto";
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-size: 35px;
}

h2 {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: normal;
  font-weight: 500;
}

/*Слайдер*/
.slider {
  width: 584px;
  height: 647px;
  margin: 0 auto;
  padding: 0;
  outline: 1px solid yellow;
}

.slider .slider-viewport {
  
}

.slider .slider-controls {
  
}
.slider a {
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  box-shadow: 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
  border-radius: 30px;
  background-color: #e84e37;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
}

/*Общий класс для карточек*/
.card {
  float: left;
  width: 520px;
  margin-right: 26px;
  min-height: 184px;
  border-radius: 15px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  outline: 1px solid yellow;
}

.card:last-child {
  margin-right: 0;
}

.card a.btn {
  box-sizing: border-box;
  float: right;
  font-size: 18px;
  line-height: 24px;
  border-radius: 30px;
  background-color: #e84e37;
  padding: 9px 20px;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
  text-decoration: none;
  height: 44px;  
}
/*Верхние карточки*/
.bonus-left {
  background-image: url(../img/bg/raspberries-bg.jpg);
  color: #ffffff;
}

.bonus-right {
  background-image: url(../img/bg/chocolate-bg.jpg);
  color: #ffffff;
}

/*Блок мороженое*/
.ice-cream {
  width: 1146px;
  margin-bottom: 40px;
  outline: 1px solid yellow;
}

.ice-cream .item {
  float: left;
  display: inline-block;
  width: 267px;
  margin-right: 26px;
  text-align: center;
  
}
.item img {
  border-radius: 50%;
  object-fit: cover;
}

.ice-cream .item:last-child {
  margin-right: 0;
}

.ice-cream a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*Блок про магазин*/
.about {
  background: url(../img/bg/pattern.jpg);
  border-radius: 15px;
  margin-bottom: 40px;
  padding: 26px 20px;
  height: 254px;
  outline: 1px solid yellow;
}
.about h2 {
  margin: 0;
}
.about ul {
  padding: 0;
  margin: 0;
}
.about li {
  width: 540px;
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
/*блок пресса*/
.press-blog {
  background: url(../img/bg/blog-bg.jpg);
}

.press-newsletter {
 background: url(../img/bg/substrate.png) no-repeat 50% 50%;
 }

.press-newsletter .btn {
  box-sizing: border-box;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 30px;
  background-color: #e84e37;
  padding: 0 20px;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
  margin-top: 15px;
}
/*блок карта*/
.map {
  min-height: 430px;
  outline: 1px solid yellow;
}

.feedback {
  float: right;
  width: 252px;
  height: 247px;
  font-size: 14px;
  padding: 29px 25px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 1;
  position: relative;
}
 .feedback .btn {
  box-sizing: border-box;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 30px;
  background-color: #e84e37;
  padding: 0 20px;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
  margin-top: 15px;
}
.feedback b {
  font-size: 18px;
  font-weight: 700;
  
}

/*Фильтры каталога*/
.filter {
  width: 879px;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.filter div {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  height: 77px;
}

.filter div:nth-child(1) {
  width: 193px;
}

.filter div:nth-child(2) {
  width: 218px;
}

.filter div:nth-child(3) {
  width: 416px;
}

.filter div:nth-child(4) {
  width: 620px;
}

.sorting {
  padding-left: 13px;
  padding-right: 9px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #ffffff;
  background-color: #a9b9af;
  border-radius: 30px;
}

.filter h2 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;  
}
.filter .field {
  display: inline;
  width: 430px;
}

.catalog-submit {
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
  border: 3px solid #ffffff;
}

/*Блок каталог продукции*/
.item-container {
  width: 1146px;
  font-size: 0;
  margin: 0 auto;
  outline: 1px solid yellow;
}

.item-container .item {
  width: 267px;
  min-height:  420px; /*потом исправить*/
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  font-weight: 500;
  outline: 2px solid yellow;
  text-align: center;
  margin-right: 26px;
}

.item-container .item:nth-child(4n) {
  margin-right: 0;
}

.item-container a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item-container .item button {
  display: none;
}

/*footer*/
.main-footer {
  min-height: 103px;
  margin: 0;
  padding: 0;
}

.main-footer a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-social {
  float: left;
  width: 267px;
  outline: 1px solid yellow;
}

.footer-links {
  width: 560px;
  display: inline-block;
  outline: 1px solid yellow;
}
.footer-links .business {
  float: left;
}

.footer-links .business {
  float: right;
}

.footer-developed {
  float: right;
  width:  247px;
  outline: 1px solid yellow;
}
.footer-developed a {
  border-bottom: none;
}

.footer-developed span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}