body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: normal;
  background-color: #849d8f;
}

.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}
.main-logo {
  float: left;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: -5px;
}

h1 {
  font-family: "Roboto";
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-size: 35px;  
}

h2 {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: normal;
  font-weight: 500;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-navigation {
  float: left;
  width: 670px;
  
}
.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 30px;
}

.main-navigation li {
  display: inline-block;
  margin-right: 29px;
  
}
.main-navigation a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-navigation .sub-menu {
  display: none;
}

.user-block {
  float: right;
  width: 267px;
}

.card {
  float: left;
  width: 520px;
  margin-right: 20px;
  min-height: 184px;
  border-radius: 15px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.card:last-child {
  margin-right: 0;
}

.card a.btn {
  box-sizing: border-box;
  float: right;
  font-size: 18px;
  line-height: 24px;
  border-radius: 30px;
  background-color: #e84e37;
  padding: 9px 20px;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
  text-decoration: none;
  height: 44px;  
}

.bonus-left {
  background-image: url(../img/bg/raspberries-bg.jpg);
  color: #ffffff;
 
}

.bonus-right {
  background-image: url(../img/bg/chocolate-bg.jpg);
  color: #ffffff;
}

.ice-cream {
  width: 1146px;
  margin-bottom: 40px;
}

.ice-cream .item {
  float: left;
  display: inline-block;
  width: 267px;
  margin-right: 26px;
  
}
.item img {
  border-radius: 50%;
  object-fit: cover;
}

.ice-cream .item:last-child {
  margin-right: 0;
}

.about {
  background: url(../img/bg/pattern.jpg);
  border-radius: 15px;
  margin-bottom: 40px;
  padding: 26px 20px;
  height: 254px;
  
}
.about ul {
  padding: 0;
  margin: 0;
}
.about li {
  width: 540px;
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  
}

.press-blog {
  background: url(../img/bg/blog-bg.jpg);
}

.press-newsletter {
 background: url(../img/bg/substrate.png) no-repeat 50% 50%;
 border: 3px solid gray; /*временно*/
 
}

.press-newsletter .btn {
  box-sizing: border-box;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 30px;
  background-color: #e84e37;
  padding: 0 20px;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
  margin-top: 15px;
}

.map {
  min-height: 430px;
}


.feedback {
  float: right;
  width: 252px;
  height: 247px;
  font-size: 14px;
  padding: 29px 25px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 1;
  position: relative;
}
 .feedback .btn {
  box-sizing: border-box;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 30px;
  background-color: #e84e37;
  padding: 0 20px;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
  margin-top: 15px;
}
.feedback b {
  font-size: 18px;
  font-weight: 700;
  
}

/*catalog*/
.item-container {
  width: 1146px;
  font-size: 0;
  margin: 0 auto;
}

.item-container .item {
  width: 267px;
  min-height:  420px; /*потом исправить*/
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  font-weight: 500;
  outline: 2px solid yellow;
  text-align: center;
  margin-right: 26px;
}

.item-container .item:nth-child(4n) {
  margin-right: 0;
}

.item-container a > p{
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  
}





/*Хлебные крошки*/
.breadcrumbs ul {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  list-style: none;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
}
.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}



/*footer*/
.main-footer {
  min-height: 103px;
}

.main-footer a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  
  
}
.footer-social {
  float: left;
  width: 267px;
}

.footer-links {
  float: left;
  width: 560px;
  display: inline-block;
  
}

.footer-developed {
  float: right;
  width:  267px;
}
.footer-developed a {
  border-bottom: none;
}

.footer-developed span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}